{% extends 'layout-3.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/profile.css') }}">
{% endblock %}
{% form_theme formEdit 'bootstrap_4_layout.html.twig' %}
{% block center_body %}
    <div class="card">
        <div class="card-header">
            <h2 class="card-title">Edit Profile</h2>
        </div>
        <div class="card-body">
            {{ form(formEdit) }}
            <button class="reset_color btn btn-primary">Reset Color</button>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/js/colorReset.js') }}"></script>
{% endblock %}