{% extends 'profile/_layout.html.twig' %}

{% block title %}Quacks liked by {{ user.displayName }} (@{{ user.username }}) | Ducker{% endblock %}

{% block profile_center %}
    {% if user.favorites is not empty %}
        <div class="card">
            <div class="card-header">
                <strong>Likes</strong>
            </div>
            <div class="list-group list-group-flush">
                {% for following in user.favorites %}
                    [[Liked post]]
                {% endfor %}
            </div>
        </div>
    {% else %}
        <p><strong>@{{ user.username }}</strong> has not liked any Quack !</p>
    {% endif %}
{% endblock %}
