{% extends 'profile/_layout.html.twig' %}

{% block title %}{{ user.displayName }} (@{{ user.username }}) | Ducker{% endblock %}

{% block profile_left %}
    <div class="profile-info ">
        <ul>
            <li class="screen-name"></li>
            <li class="username"></li>
            <li>Photos and videos
                <ul class="photo-video">

                </ul>
            </li>
        </ul>
    </div>
{% endblock %}

{% block profile_center %}
    <div class="quacks">
        <h3>Quacks</h3>
    </div>
{% endblock %}