{% extends 'profile/_layout.html.twig' %}

{% block title %}{{ user.displayName }} (@{{ user.username }}) | Ducker{% endblock %}

{% block profile_center %}
    <div class="quacks">
        <h3>Quacks</h3>
    </div>
{% endblock %}