{% extends 'notifications/_layout.html.twig' %}

{% block title %}Ducker / Notifications{% endblock %}

{% block notifications_body %}
    {% if notifications is empty %}
        <div class="card-body">
            <p>Nothing to see here — yet</p>
        </div>
    {% else %}
        <div class="list-group list-group-flush">
            {% for notification in notifications %}
                {{ render(controller('App\\Controller\\CommonController::notificationCard', {
                    n: notification
                })) }}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
