{% extends 'notifications/_layout.html.twig' %}

{% block title %}Ducker / Notifications{% endblock %}

{% block notifications_body %}
    {% if notifications is empty %}
        <div class="card-body">
            <p>Nothing to see here — yet</p>
        </div>
    {% else %}
        <div class="list-group list-group-flush">
            {% for n in notifications %}
                {% for i in 0..3 %}
                    <div class="list-group-item">
                        <p>Notification test {{ i }}</p>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
