{% extends 'notifications/_layout.html.twig' %}

{% block title %}Ducker / Notifications{% endblock %}

{% block notifications_body %}
    {% if notifications is empty %}
        <div class="card-body">
            <p>Nothing to see here — yet</p>
        </div>
    {% else %}
        <div class="list-group list-group-flush">
            {% for n in notifications %}
                {% include 'notifications/_card_data.html.twig' with { notification: n } only %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
