{% extends 'notifications/_layout.html.twig' %}

{% block title %}Ducker / Mentions{% endblock %}

{% block notifications_body %}
    {% if notifications is empty %}
        <div class="card-body">
            <p>Nothing to see here — yet</p>
            <p>When someone mentions you in a Tweet, you'll see it here</p>
        </div>
    {% else %}
        <div class="list-group list-group-flush">
            {% for n in notifications %}
                <div class="list-group-item">
                    <p>Notification</p>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
