{% extends 'layour-3.html.twig' %}

{% block title %}Twitter / Mentions{% endblock %}

{% block center_body %}
    <div class="card">
        <div class="card-header">
            <a href="{{ path('notifications') }}">All</a>
            <a href="{{ path('mentions') }}">Mentions</a>
        </div>
        {% if notifications is empty %}
            <div class="card-body">
                <p>Nothing to see here — yet</p>
                <p>When someone mentions you in a Tweet, you'll see it here</p>
            </div>
        {% endif %}
    </div>
{% endblock %}
