{% extends 'base.html.twig' %}

{% block title %}Twitter{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">[Mini Profile]</div>
                </div>
                <div class="card">
                    <div class="card-body">[Trends]</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">[Timeline]</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">[Who to follow]</div>
                </div>
                <div class="card">
                    <div class="card-body">[Footer]</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
