{% extends 'base.html.twig' %}

{% block title %}Twitter{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div>[Mini Profile]</div>
                <div>[Trends]</div>
            </div>
            <div class="col-md-6">
                <div>[Timeline]</div>
            </div>
            <div class="col-md-3">
                <div>[Who to follow]</div>
                <div>[Footer nav]</div>
            </div>
        </div>
    </div>
{% endblock %}
