{% extends 'layour-3.html.twig' %}

{% block title %}Twitter{% endblock %}

{% block left_sidebar %}
    <div class="card">
        <div class="card-body">[Mini Profile]</div>
    </div>
    {{ render(controller('App\\Controller\\CommonController::trends')) }}
{% endblock %}

{% block center_body %}
    <div class="card">
        <div class="card-body">[Timeline]</div>
    </div>
{% endblock %}

{% block right_sidebar %}
    <div class="card">
        <div class="card-body">[Who to follow]</div>
    </div>
    <div class="card">
        <div class="card-body">[Footer]</div>
    </div>
{% endblock %}
