{% extends 'layour-3.html.twig' %}

{% block title %}Ducker / Settings{% endblock %}

{% block left_sidebar %}
    <div class="list-group">
        <a href="{{ path('settings_account') }}" class="list-group-item list-group-item-action">Account</a>
        <a href="{{ path('settings_account') }}" class="list-group-item list-group-item-action">Privacy</a>
        <a href="{{ path('settings_account') }}" class="list-group-item list-group-item-action">Password</a>
    </div>
{% endblock %}

{% block center_body %}
    {% block settings_body %}
    {% endblock %}
{% endblock %}
