{% extends 'settings/_layout.html.twig' %}

{% block settings_body %}
    <div class="card">
        <strong class="card-header">Change password</strong>
        <div class="card-body">
            {{ form(formChangePassword) }}
        </div>
    </div>
{% endblock %}
