{% extends 'settings/__LAYOUT__.html.twig' %}

{% block settings_body %}
    <div class="card">
        <h2 class="card-header">Account</h2>
        <div class="list-group list-group-flush">
            <div class="list-group-item"></div>
            <div class="list-group-item"></div>
            <div class="list-group-item"></div>
            <div class="list-group-item"></div>
            <div class="list-group-item"></div>
        </div>
        <div class="card-body">
            <a href="#">Deactivate your account</a>
        </div>
    </div>
{% endblock %}
