.chat {
    background-color: #fff;
}
#create {
    margin-top: 20px;
}
.user-inputs {
    margin-top: 20px;
}
.date, .author {
    font-weight: bold;
}
.conversations {
    margin-bottom: 30px;
}
#message_content {
    resize: none;
}
#chat_message_content {
    margin-top: 15px;
}