body {
    background: #e6ecf0;
}

main > .container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.btn-primary {
    background-color: #1da1f2;
    border-radius: 20px;
}

img.mini-avatar {
    border-radius: 50%;
    height: 32px;
    width: 32px;
}

.mini-avatar-64 {
    border-radius: 50%;
    height: 64px;
    width: 64px;
}

.mini-avatar-48 {
    border-radius: 50%;
    height: 48px;
    width: 48px;
}

.mini-user-profile {
    position: sticky;
    top: 20px;
}
.trends {
    position: sticky;
    top: 174px;
}

.post-card__author_content {
    word-break: break-word;
}

.post-card__username {
    font-size: small;
}

.post-card__repost-info {
    font-size: smaller;
}

.post-card__send-time {
    font-size: x-small;
}

.search-top-bar-wrapper {
    padding: 0.5em;
    border-bottom: 1px solid white;
    background-color: #1da1f2;
    font-size: 2em;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
}