body {
    background: #e6ecf0;
}

main > .container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.btn-primary {
    background-color: #1da1f2;
    border-radius: 20px;
}

img.mini-avatar {
    border-radius: 50%;
    height: 32px;
    width: 32px;
}

img.mini-avatar-64 {
    border-radius: 50%;
    height: 64px;
    width: 64px;
}

.mini-user-profile {
    position: sticky;
    top: 20px;
}
.trends {
    position: sticky;
    top: 174px;
}