.post_maker form {
    margin-left: 2%;
    width: 100%;
}

.post_maker textarea {
    resize: none;
    width: 100%;
    font-size: 15px;
    height: 36px;
}

.post_maker textarea::placeholder {
    font-size: 15px;
    color: #1da1f2;
}

.quacker-btn-displayer {
    display: none;
}

.button-div-actu {
    cursor: pointer;
}

/* miniUserProfileChanges */
.suggestions {
    margin-top: 15px;
}

.suggestions .card-body {
    margin: auto;
    padding: 5px;
    width: 50%;
}

.mini_user_card {
    font-size: 15px;
}

.suggestions img {
    width: 45px;
    height: 45px;
    border-radius: 100%;
}

.emojionearea-editor {
    min-height: 36px !important;
    height: 36px;
}