body{
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
li{
    list-style-type: none;
}
.center, .nav-link, .nav-ul, .center{
    display: inline;
}
main{
    padding: 0;
    margin: 0;
}
#banner{
    padding-left: 0;
    padding-right: 0;

}
.avatar{
    transform: translate(-15%,-70%);
    border-radius: 180px;
    border: white 5px solid;
    background-color: #e6ecf0;
}
.profile-avatar{
    height: 0;
}
.nav-profile{
    flex: 100%;
    background-color: white;
    border-top: 1px solid rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
}
#nav-ul{
    margin-bottom: 0;
    margin-left: 20%;
}
.likes{
    margin-right: 15%;
}
#nav-link {
    padding-top: 12px;
    color: #1da1f2;
}
.edit-profile{
    margin-top: 5px;
    margin-bottom: 5px;
}
.friend-suggestion, .trending{
    margin-top: 25px;
    height: 300px;
    background-color: white;
    padding: 15px;
    font-size: smaller;
}
.quacks{
    margin-top: 25px;
}