body {
    background-color: #10171e;
}
main {
    display: flex;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}
h1 {
    color: white;
    font-size: 27px;
    line-height: 32px;
    font-weight: bold;
    width: 400px;
    padding: 0;
    margin-bottom: 24px;
}
input {
    display: block;
    border: 1px solid #38444d;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    padding: 12px;
    width: 372px;
}
.btn {
    background-color: #1da1f2;
    border: 1px solid #1da1f2;
}
