header {
    display: flex;
    padding-top: 3px;
    height: 47px;
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
body {
    background-color: #ffffff;
}
.form {
    width: 400px;
    margin-right: auto;
    margin-left: auto;
}
.link {
    height: 35px;
}
.navbar img {
    margin-top: -10px;
}
.navbar a:hover {
    text-decoration: none;
    border-bottom: solid 2px rgb(29,161,242);
}
.navbar a.active {
    border-bottom: solid 2px rgb(29,161,242);
}
h1 {
    color: black;
    font-size: 27px;
    line-height: 32px;
    font-weight: bold;
    width: 400px;
    padding: 0;
    margin-top: 50px;
    margin-bottom: 24px;
}
.form-input {
    display: block;
    background-color: #ffffff;
    border: 1px solid #e6ecf0;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    padding: 12px;
    width: 372px;
}
.btn {
    background-color: #1da1f2;
    border: 1px solid #1da1f2;
    width: 372px;
    border-radius: 100px;
    font-size: 18px;
    line-height: 24px;
    padding: 12px 20px;
}