<div class="card card-body">
    <div>
        <strong>Gros Chef Bandzi</strong>
        <p>@Poutouyemoun</p>
    </div>
    <p><strong>{{ post_count|number_format }}</strong> Quacks</p>
    <p><strong>{{ followers_count|number_format }}</strong> Followers</p>
</div>