<div class="card card-body mini_user_card">
    <div class="d-flex justify-content-around">
        <div>
            {% if user.avatarPath == null %}
                <img src="{{ asset('assets/img/user-placeholder.png') }}">
            {% else %}
                <img src="{{ asset('upload/avatar/' ~ user.avatarPath) }}">
            {% endif %}
        </div>
        <div class="d-flex flex-column">
            <span class="username">@{{ user.username }}</span>
            <span>{{ user.displayName }}</span>
        </div>
    </div>
</div>