{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div id="layout-3__left-sidebar" class="col-12 col-md-4 col-lg-3">
                {% block left_sidebar %}
                {% endblock %}
            </div>
            <div id="layout-3__center-body" class="col-12 col-md-8 col-lg-6">
                {% block center_body %}
                {% endblock %}
            </div>
            <div id="layout-3__right-sidebar" class="col-md-3 d-none d-lg-block">
                {% block right_sidebar %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}