{% set user = post.sender %}
{% extends 'profile/_layout.html.twig' %}

{% block title %}
    {{ post.sender.displayName }} on Ducker: "{{ post.content }}"
{% endblock %}

{% block profile_center %}
    <div class="card">
        {% include 'common/post_card.html.twig' with { post: post } only %}
    </div>

    <div class="card my-3">
        <div class="card-header bg-light">
            {% include 'common/post_maker.html.twig' with {
                formPost: formReply,
                inputPlaceholder: 'Quack your reply',
                parentPostId: post.id
            } only %}
        </div>
        {% if post.replies|length > 0 %}
            <div class="list-group list-group-flush timeline">
                {% for reply in post.replies %}
                    {% include 'common/post_card.html.twig' with { post : reply } only %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/post_maker.js') }}"></script>
{% endblock %}